#puzzle1Title {
  cursor: pointer;

}

#puzzle1Title:hover {
  text-decoration: underline;
  color: #0088cc;
  display: block;
}

#puzzle2Title {
  cursor: pointer;

}

#puzzle2Title:hover {
  text-decoration: underline;
  color: #0088cc;
  display: block;
}
