.jumbotron {
  text-align: center;
}

img {
  width: 70%;
  height: 70%;
}

.col-md-2 {
  border: solid black 3px;
  text-align: center;
  height: 150px;
}

.two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
  display: none;
}
